# Terraform

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform plans

*.tfplan

# Terraform local files

.terraform.lock.hcl

# Secrets

*.pem
*.key
id_rsa
id_ed25519
id_ed25519.pub

# OS

.DS_Store
Thumbs.db
